<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Table</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<app-user></app-user>
<div class="container">
    <h2>Member List</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let member of user.familyMember">
                <td>{{member.id}}</td>
                <td>{{member.name}}</td>
                <td>{{member.mail}}</td>
                <td>{{member.phone}}</td>
                <td><button class="btn btn-delete"(click)="deleteFamilyMember(user.id,member.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>