.main-content {
  background-image: linear-gradient(to right, #6e94e0, #8692e4, #9e90e5, #b68de3, #cc89de, #c190e9, #b497f3, #a59efb, #5dafff, #00bbf6, #00c1db, #26c4ba);
    padding: 10px; /* Add padding as needed */
    color: #fff; /* Set text color to white for better readability */
    
    
  }
  
  body{
    background-color: white;
  }
