<html>
  <head>
    <style>
      /* Add custom CSS for hover effect */
      .card:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
      }
    </style>
  </head>
  <body>
    <div class="container" style="padding: 50px;">
      <app-user></app-user>
      </div>
    <div class="container mt-5">
      <div class="row">
        <!-- Use *ngFor for each card -->
        <div class="col-md-4" *ngFor="let plan of getPlan">
          <!-- Card 1 -->
          <div class="card mb-4" style="background-color: ghostwhite;">
            <div class="card-body">
              <h1 style="text-align: center;">{{plan.planName}}</h1>
              <h2 class="card-title text-center">{{plan.planDuration}} plan</h2>
              <h1 style="text-align: center; color: Red;"><b>{{plan.price}}</b></h1>
              <h3 style="color: red; text-align: center;">{{plan.planDesc}}</h3>
              <img src="{{plan.image}}" class="card-img-top" alt="Plan Image">
              <!-- Add your image here -->
              <div>
                <h3><b>BENEFITS</b></h3>
                <hr>
                <div class="row">
                  <div class="col text-start">
                    <p>Data with Rollover</p>
                  </div>
                  <div class="col text-end">
                    <p>{{plan.dataLimit}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-start">
                    <p>SMS Per Day</p>
                  </div>
                  <div class="col text-end">
                    <p>{{plan.sms}}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col text-start">
                    <p>Local/STD & Roaming Calls</p>
                  </div>
                  <div class="col text-end">
                    <p>{{plan.roamingCalls}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-start">
                    <p>Voice Call</p>
                  </div>
                  <div class="col text-end">
                    <p>{{plan.voiceCall}}</p>
                  </div>
                </div>
              </div>
            </div>
            <button (click)="selectPlan(plan)" routerLink="/myplan"  class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
