<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Table</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<app-adminpage></app-adminpage>
<div class="container">
    <h2>Member List</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Invoice No.</th>
                <th>Client Name</th>
                <th>Invoice Date</th>
                <th>Due Date</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Service control</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let key of invoiceData">
                    <!-- <td>{{ cleanField(key.user_plan_id)}}</td> -->
                    <td>{{ cleanField(key.user_id.replace('"', ''))}}</td>
                    <td>{{ cleanField(key.username.replace('"', ''))}}</td>
                    <td>{{ cleanField(key.activation_date.replace('"', ''))}}</td>
                    <td>{{ cleanField(key.expiry_date.replace('"', ''))}}</td>
                    <td>{{ cleanField(key.price.replace('"', ''))}}</td>
                    <td>
                        <span class="badge" [ngClass]="key.isPaid ? 'bg-success' : 'bg-danger'">
                          {{key.isPaid ? 'Paid' : 'Unpaid' }}
                        </span>
                      </td>
                    
                      <td>
                        <label class="switch">
                          <input type="checkbox" [checked]="key.isPaid" (change)="togglePayment(key)">
                          <span class="slider round"></span>
                        </label>
                        </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>