<html>
    <head>
        
    </head>
    <body>
  <app-adminpage></app-adminpage>
    <div class="container" style="max-width: 100%;">
    <table class="table table-bordered" style="width: 100%;">
    <thead>
      
        <tr>
            <th>INVOICE ID</th>
            <th>User Id</th>
            <th>PLAN ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Plan Name</th>
            <th>Activation Date</th>
            <th>Expiry Date</th>
            <th>Payment</th>
            <th>Action</th>
        </tr>
    
    </thead>
    <tbody>
        <!-- <div *ngFor="let item of invoiceData"> -->
            <tr *ngFor="let key of invoiceData">
              <td>{{ cleanField(key.user_plan_id)}}</td>
              <td>{{ cleanField(key.user_id.replace('"', ''))}}</td>
              <td>{{ cleanField(key.plan_id.replace('"', ''))}}</td>
              <td>{{ cleanField(key.username.replace('"', ''))}}</td>
              <td>{{ cleanField(key.email.replace('"', ''))}}</td>
              <td>{{ cleanField(key.phone.replace('"', ''))}}</td>
              <td>{{ cleanField(key.plan_name.replace('"', ''))}}</td>
              <td>{{ cleanField(key.activation_date.replace('"', ''))}}</td>
              <td>{{ cleanField(key.expiry_date.replace('"', ''))}}</td>
              <td>{{ cleanField(key.price.replace('"', ''))}}</td>
                <td><button style="background-color: aquamarine;" (click)="sendEmail(key.email, key.username, key.price, key.activation_date, key.expiry_date, key.plan_name,key.phone)">Send Email</button></td>
            </tr>
        <!-- </div> -->
      <!-- <tr *ngFor="let item of invoiceData">
        <td *ngFor="let key of item | keyvalue">{{ key.value}}</td>
      </tr> -->
    </tbody>
  </table>
 
</div>

 

</body>
</html>