
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Billing Service</a>
      <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">View Invoices</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Plans</a>
            <ul class="dropdown-menu">
              
              <li><a class="dropdown-item" routerLink="/usermobile">Mobile Service Plans</a></li>
              <li><a class="dropdown-item" routerLink="/userplan">OTT Plans</a></li>
              <li><a class="dropdown-item" routerLink="/myplan">My Plans</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">LinkFamily</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/addmember">Add Member</a></li>
              <li><a class="dropdown-item" routerLink="/viewmember">View Member</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/userpay">Payment</a>
          </li>
        </ul>
        <form class="d-flex" role="search" style="margin-right: 50px;">
          <input class="form-control search me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <h2 style="color: white;">Welcome {{receivedData.username}}</h2>
        <div class="notification">
          <img src="assets/images/bell.png" alt="User Profile Picture" class="profile-pic">
        </div>
            <!-- User profile picture container -->
            <div class="user-profile" style="margin-right: 50px;">
              <div class="profile-pic-container">
              <img src="{{receivedData.profileImageUrl}}" alt="User Profile Picture" class="profile-pic">
              <div class="card-overlay">
                <div class="card">
                  <div class="card-body">
                    <button routerLink="/viewprofile" class="btn btn-primary">View Profile</button>
                    <button class="btn btn-danger"(click)="logout()">Logout</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          
        </div>
    
  </nav>
  <script src="../../assets/dist/js/bootstrap.bundle.min.js"></script>
  <!-- </body> -->
  <!-- </html> -->
  